The MovieLens dataset was collected by the GroupLens Research Project at the University of Minnesota.

In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.decomposition import TruncatedSVD

In [3]:
df = pd.read_csv("ratings.csv")
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [4]:
len(df)

25000095

In [5]:
df.dropna()

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [6]:
a = pd.read_csv("stats_imp.csv")
a

,movieId,title,ratings_mean,ratings_count,genres
0,2072,"'burbs, The (1989)",3.114910,3320,Comedy
1,69757,(500) Days of Summer (2009),3.725344,11498,Comedy|Drama|Romance
2,8169,*batteries not included (1987),3.244816,1736,Children|Comedy|Fantasy|Sci-Fi
3,3420,...And Justice for All (1979),3.639286,1120,Drama|Thriller
4,152077,10 Cloverfield Lane (2016),3.714617,3660,Thriller
...,...,...,...,...,...
3794,57274,[REC] (2007),3.703164,1991,Drama|Horror|Thriller
3795,2600,eXistenZ (1999),3.349642,5580,Action|Sci-Fi|Thriller
3796,5507,xXx (2002),2.786182,5956,Action|Crime|Thriller
3797,33158,xXx: State of the Union (2005),2.337158,1133,Action|Crime|Thriller
3798,2478,¡Three Amigos! (1986),3.120985,6414,Comedy|Western

In [7]:
movies = a[['movieId', 'title']]
movies

      movieId                           title
0        2072              'burbs, The (1989)
1       69757     (500) Days of Summer (2009)
2        8169  *batteries not included (1987)
3        3420   ...And Justice for All (1979)
4      152077      10 Cloverfield Lane (2016)
...       ...                             ...
3794    57274                    [REC] (2007)
3795     2600                 eXistenZ (1999)
3796     5507                      xXx (2002)
3797    33158  xXx: State of the Union (2005)
3798     2478           ¡Three Amigos! (1986)

[3799 rows x 2 columns]

In [8]:
# movies = pd.read_csv("movies.csv")
# movies.head()

In [9]:
len(set(movies.movieId))

3799

In [10]:
combined_movies_data = pd.merge(df, movies, on = 'movieId')
combined_movies_data.head()

   userId  movieId  rating   timestamp                title
0       1      296     5.0  1147880044  Pulp Fiction (1994)
1       3      296     5.0  1439474476  Pulp Fiction (1994)
2       4      296     4.0  1573938898  Pulp Fiction (1994)
3       5      296     4.0   830786155  Pulp Fiction (1994)
4       7      296     4.0   835444730  Pulp Fiction (1994)

In [11]:
len(combined_movies_data)

22138587

In [12]:
combined_movies_data.dropna()

,userId,movieId,rating,timestamp,title
0,1,296,5.0,1147880044,Pulp Fiction (1994)
1,3,296,5.0,1439474476,Pulp Fiction (1994)
2,4,296,4.0,1573938898,Pulp Fiction (1994)
3,5,296,4.0,830786155,Pulp Fiction (1994)
4,7,296,4.0,835444730,Pulp Fiction (1994)
...,...,...,...,...,...
22138582,130233,192003,3.5,1533100072,Journey to the Center of the Earth (2008)
22138583,32063,124757,3.0,1487482173,Hostage (2005)
22138584,72315,124757,3.0,1535602355,Hostage (2005)
22138585,111664,124757,4.0,1514502635,Hostage (2005)
22138586,150604,124757,1.5,1471706896,Hostage (2005)

In [13]:
combined_movies_data.groupby("movieId")["rating"].count().sort_values(ascending= False).head(10)

movieId
356     81491
318     81482
296     79672
593     74127
2571    72674
260     68717
480     64144
527     60411
110     59184
2959    58773
Name: rating, dtype: int64

## Building a Utility Matrix

In [14]:
rating_crosstab = combined_movies_data.pivot_table(values = 'rating', index = 'userId', columns = 'title', fill_value=0)

In [18]:
rating_crosstab.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),...,Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,3.5,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transposing the Matrix

In [19]:
rating_crosstab.shape

(162539, 3790)

In [20]:
X = rating_crosstab.values.T
X.shape

(3790, 162539)

## Decomposing the Matrix

A well-known matrix factorization method is Singular value decomposition (SVD). Collaborative Filtering can be formulated by approximating a matrix X by using singular value decomposition.

In [21]:
SVD = TruncatedSVD(n_components=12, random_state=33)

resultatnt_matrix = SVD.fit_transform(X)
resultatnt_matrix.shape

(3790, 12)

## Generating a Correlation Matrix

In [22]:
corr_mat = np.corrcoef(resultatnt_matrix)
corr_mat.shape

(3790, 3790)

## Isolating Star Wars from the Correlation Matrix

In [39]:
movies_names = rating_crosstab.columns 
movies_list = list(movies_names)
movies_list

["'burbs, The (1989)",
 '(500) Days of Summer (2009)',
 '*batteries not included (1987)',
 '...And Justice for All (1979)',
 '10 Cloverfield Lane (2016)',
 '10 Things I Hate About You (1999)',
 '10,000 BC (2008)',
 '101 Dalmatians (1996)',
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
 '102 Dalmatians (2000)',
 '12 Angry Men (1957)',
 '12 Years a Slave (2013)',
 '127 Hours (2010)',
 '13 Going on 30 (2004)',
 '13th Warrior, The (1999)',
 '1408 (2007)',
 '15 Minutes (2001)',
 '16 Blocks (2006)',
 '17 Again (2009)',
 '1984 (Nineteen Eighty-Four) (1984)',
 '2 Days in the Valley (1996)',
 '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
 '2 Guns (2013)',
 '20,000 Leagues Under the Sea (1954)',
 '200 Cigarettes (1999)',
 '2001: A Space Odyssey (1968)',
 '2010: The Year We Make Contact (1984)',
 '2012 (2009)',
 '2046 (2004)',
 '21 (2008)',
 '21 Grams (2003)',
 '21 Jump Street (2012)',
 '22 Jump Street (2014)',
 '24 Hour Party People (2002)',
 '25th Hour (2002)',
 '27 Dresses (2008)',
 '28 Days (2000)',
 '28 Days Later (2002)',
 '28 Weeks Later (2007)',
 '3 Idiots (2009)',
 '3-Iron (Bin-jip) (2004)',
 '30 Days of Night (2007)',
 '300 (2007)',
 '3000 Miles to Graceland (2001)',
 '300: Rise of an Empire (2014)',
 '39 Steps, The (1935)',
 '3:10 to Yuma (2007)',
 '40 Days and 40 Nights (2002)',
 '40-Year-Old Virgin, The (2005)',
 '400 Blows, The (Les quatre cents coups) (1959)',
 '42 Up (1998)',
 '48 Hrs. (1982)',
 '50 First Dates (2004)',
 '50/50 (2011)',
 '54 (1998)',
 '6th Day, The (2000)',
 '7th Voyage of Sinbad, The (1958)',
 '8 1/2 (8½) (1963)',
 '8 Heads in a Duffel Bag (1997)',
 '8 Mile (2002)',
 '8MM (1999)',
 '9 (2009)',
 '9 1/2 Weeks (Nine 1/2 Weeks) (1986)',
 'A Million Ways to Die in the West (2014)',
 'A Quiet Place (2018)',
 'A Star Is Born (2018)',
 'A-Team, The (2010)',
 'A.I. Artificial Intelligence (2001)',
 'AVP: Alien vs. Predator (2004)',
 'AVPR: Aliens vs. Predator - Requiem (2007)',
 'About Last Night... (1986)',
 'About Schmidt (2002)',
 'About Time (2013)',
 'About a Boy (2002)',
 'Abraham Lincoln: Vampire Hunter (2012)',
 'Absent-Minded Professor, The (1961)',
 'Absolute Power (1997)',
 'Abyss, The (1989)',
 'Accepted (2006)',
 'Accidental Tourist, The (1988)',
 'Accused, The (1988)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Across the Universe (2007)',
 "Adam's Rib (1949)",
 'Adaptation (2002)',
 'Addams Family Values (1993)',
 'Addams Family, The (1991)',
 'Addicted to Love (1997)',
 'Adjustment Bureau, The (2011)',
 'Adventureland (2009)',
 'Adventures in Babysitting (1987)',
 'Adventures of Baron Munchausen, The (1988)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'Adventures of Milo and Otis, The (Koneko monogatari) (1986)',
 'Adventures of Pinocchio, The (1996)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Adventures of Robin Hood, The (1938)',
 'Adventures of Rocky and Bullwinkle, The (2000)',
 'Adventures of Tintin, The (2011)',
 'Aeon Flux (2005)',
 'Affair to Remember, An (1957)',
 'Affliction (1997)',
 'African Queen, The (1951)',
 'After Earth (2013)',
 'After Hours (1985)',
 'Age of Innocence, The (1993)',
 'Agent Cody Banks (2003)',
 'Agnes of God (1985)',
 'Aguirre: The Wrath of God (Aguirre, der Zorn Gottes) (1972)',
 'Air America (1990)',
 'Air Bud (1997)',
 'Air Force One (1997)',
 'Airheads (1994)',
 'Airplane II: The Sequel (1982)',
 'Airplane! (1980)',
 'Airport (1970)',
 'Akira (1988)',
 'Aladdin (1992)',
 'Alexander (2004)',
 'Alfie (2004)',
 'Ali (2001)',
 'Alice in Wonderland (1951)',
 'Alice in Wonderland (2010)',
 'Alien (1979)',
 'Alien Nation (1988)',
 'Alien: Covenant (2017)',
 'Alien: Resurrection (1997)',
 'Aliens (1986)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'Alive (1993)',
 'All About Eve (1950)',
 'All About My Mother (Todo sobre mi madre) (1999)',
 'All Dogs Go to Heaven (1989)',
 'All Dogs Go to Heaven 2 (1996)',
 'All Quiet on the Western Front (1930)',
 'All That Jazz (1979)',
 "All the President's Men (1976)",
 'Almost Famous (2000)',
 'Along Came Polly (2004)',
 'Along Came a Spider (2001)',
 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 'Altered States (1980)',
 'Alvin and the Chipmunks (2007)',
 'Always (1989)',
 'Amadeus (1984)',
 'Amateur (1994)',
 'Amazing Spider-Man, The (2012)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 "America's Sweethearts (2001)",
 'American Beauty (1999)',
 'American Gangster (2007)',
 'American Gigolo (1980)',
 'American Graffiti (1973)',
 'American History X (1998)',
 'American Hustle (2013)',
 'American Movie (1999)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American President, The (1995)',
 'American Psycho (2000)',
 'American Reunion (American Pie 4) (2012)',
 'American Sniper (2014)',
 'American Splendor (2003)',
 'American Tail, An (1986)',
 'American Tail: Fievel Goes West, An (1991)',
 'American Wedding (American Pie 3) (2003)',
 'American Werewolf in London, An (1981)',
 'American Werewolf in Paris, An (1997)',
 'American in Paris, An (1951)',
 'American, The (2010)',
 'Amistad (1997)',
 'Amityville Horror, The (1979)',
 'Amityville Horror, The (2005)',
 "Amores Perros (Love's a Bitch) (2000)",
 'Anaconda (1997)',
 'Analyze That (2002)',
 'Analyze This (1999)',
 'Anastasia (1997)',
 'Anatomy of a Murder (1959)',
 'Anchorman 2: The Legend Continues (2013)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'And Your Mother Too (Y tu mamá también) (2001)',
 'And the Band Played On (1993)',
 'Andalusian Dog, An (Chien andalou, Un) (1929)',
 'Andromeda Strain, The (1971)',
 'Angel Heart (1987)',
 "Angela's Ashes (1999)",
 'Angels & Demons (2009)',
 'Angels and Insects (1995)',
 'Angels in the Outfield (1994)',
 'Anger Management (2003)',
 'Angus (1995)',
 'Animal House (1978)',
 'Animal, The (2001)',
 'Animatrix, The (2003)',
 'Anna and the King (1999)',
 'Annie (1982)',
 'Annie Hall (1977)',
 'Annihilation (2018)',
 'Another 48 Hrs. (1990)',
 'Another Earth (2011)',
 'Another Stakeout (1993)',
 'Ant-Man (2015)',
 'Ant-Man and the Wasp (2018)',
 'Antichrist (2009)',
 'Antitrust (2001)',
 "Antonia's Line (Antonia) (1995)",
 'Antwone Fisher (2002)',
 'Antz (1998)',
 'Any Given Sunday (1999)',
 'Anywhere But Here (1999)',
 'Apartment, The (1960)',
 'Apocalypse Now (1979)',
 'Apocalypto (2006)',
 'Apollo 13 (1995)',
 'Apostle, The (1997)',
 'Apple Dumpling Gang, The (1975)',
 'Apt Pupil (1998)',
 'Arachnophobia (1990)',
 'Argo (2012)',
 'Aristocats, The (1970)',
 'Aristocrats, The (2005)',
 'Arlington Road (1999)',
 'Armageddon (1998)',
 'Armour of God II: Operation Condor (Operation Condor) (Fei ying gai wak) (1991)',
 'Army of Darkness (1993)',
 'Around the World in 80 Days (1956)',
 'Around the World in 80 Days (2004)',
 'Arrival (2016)',
 'Arrival, The (1996)',
 'Arsenic and Old Lace (1944)',
 'Art of War, The (2000)',
 'Arthur (1981)',
 'As Good as It Gets (1997)',
 'Asphalt Jungle, The (1950)',
 'Assassination of Jesse James by the Coward Robert Ford, The (2007)',
 'Assassins (1995)',
 'Assault on Precinct 13 (1976)',
 'Assault on Precinct 13 (2005)',
 "Astronaut's Wife, The (1999)",
 'Atlantic City (1980)',
 'Atlantis: The Lost Empire (2001)',
 'Atomic Blonde (2017)',
 'Atonement (2007)',
 'Attack of the Killer Tomatoes! (1978)',
 'Attack the Block (2011)',
 'Audition (Ôdishon) (1999)',
 'August Rush (2007)',
 'Auntie Mame (1958)',
 'Austin Powers in Goldmember (2002)',
 'Austin Powers: International Man of Mystery (1997)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Australia (2008)',
 'Autumn in New York (2000)',
 'Avatar (2009)',
 'Avengers, The (1998)',
 'Avengers, The (2012)',
 'Avengers: Age of Ultron (2015)',
 'Avengers: Infinity War - Part I (2018)',
 'Avengers: Infinity War - Part II (2019)',
 'Aviator, The (2004)',
 'Awakenings (1990)',
 'Away We Go (2009)',
 'BASEketball (1998)',
 'Babe (1995)',
 'Babe: Pig in the City (1998)',
 'Babel (2006)',
 "Babette's Feast (Babettes gæstebud) (1987)",
 'Baby Driver (2017)',
 'Baby Geniuses (1999)',
 'Baby Mama (2008)',
 'Babylon A.D. (2008)',
 'Bachelor Party (1984)',
 'Bachelor, The (1999)',
 'Back to School (1986)',
 'Back to the Future (1985)',
 'Back to the Future Part II (1989)',
 'Back to the Future Part III (1990)',
 'Backbeat (1993)',
 'Backdraft (1991)',
 'Bad Boys (1995)',
 'Bad Boys II (2003)',
 'Bad Education (La mala educación) (2004)',
 'Bad Girls (1994)',
 'Bad Lieutenant (1992)',
 'Bad News Bears, The (1976)',
 'Bad Santa (2003)',
 'Bad Taste (1987)',
 'Bad Teacher (2011)',
 'Badlands (1973)',
 'Balto (1995)',
 'Bamba, La (1987)',
 'Bambi (1942)',
 'Bananas (1971)',
 'Band of Brothers (2001)',
 'Bandits (2001)',
 'Bank Job, The (2008)',
 'Baraka (1992)',
 'Barb Wire (1996)',
 'Barbarella (1968)',
 'Barbarian Invasions, The (Les invasions barbares) (2003)',
 'Barbershop (2002)',
 'Barcelona (1994)',
 'Barefoot in the Park (1967)',
 'Barry Lyndon (1975)',
 'Barton Fink (1991)',
 'Basic (2003)',
 'Basic Instinct (1992)',
 'Basketball Diaries, The (1995)',
 'Basquiat (1996)',
 'Batman & Robin (1997)',
 'Batman (1989)',
 'Batman Begins (2005)',
 'Batman Forever (1995)',
 'Batman Returns (1992)',
 'Batman v Superman: Dawn of Justice (2016)',
 'Batman: Mask of the Phantasm (1993)',
 'Battle Royale (Batoru rowaiaru) (2000)',
 'Battle for the Planet of the Apes (1973)',
 'Battle of Algiers, The (La battaglia di Algeri) (1966)',
 'Battle: Los Angeles (2011)',
 'Battlefield Earth (2000)',
 'Battleship (2012)',
 'Battleship Potemkin (1925)',
 'Be Cool (2005)',
 'Be Kind Rewind (2008)',
 'Beach, The (2000)',
 'Beaches (1988)',
 'Bean (1997)',
 'Beasts of the Southern Wild (2012)',
 'Beautician and the Beast, The (1997)',
 'Beautiful Girls (1996)',
 'Beautiful Mind, A (2001)',
 'Beautiful Thing (1996)',
 'Beauty and the Beast (1991)',
 'Beauty and the Beast (2017)',
 'Beauty and the Beast (La belle et la bête) (1946)',
 'Beauty of the Day (Belle de jour) (1967)',
 'Beavis and Butt-Head Do America (1996)',
 'Bed of Roses (1996)',
 'Bedazzled (2000)',
 'Bedknobs and Broomsticks (1971)',
 'Bedtime Stories (2008)',
 'Bee Movie (2007)',
 'Beerfest (2006)',
 'Beethoven (1992)',
 'Beetlejuice (1988)',
 'Before Midnight (2013)',
 'Before Sunrise (1995)',
 'Before Sunset (2004)',
 "Before the Devil Knows You're Dead (2007)",
 'Begin Again (2013)',
 'Behind Enemy Lines (2001)',
 'Being John Malkovich (1999)',
 'Being There (1979)',
 'Ben-Hur (1959)',
 'Bend It Like Beckham (2002)',
 'Beneath the Planet of the Apes (1970)',
 'Benny & Joon (1993)',
 'Beowulf (2007)',
 'Best Exotic Marigold Hotel, The (2011)',
 'Best Years of Our Lives, The (1946)',
 'Best in Show (2000)',
 'Better Off Dead... (1985)',
 'Beverly Hillbillies, The (1993)',
 'Beverly Hills Cop (1984)',
 'Beverly Hills Cop II (1987)',
 'Beverly Hills Cop III (1994)',
 'Beverly Hills Ninja (1997)',
 'Bewitched (2005)',
 'Beyond Rangoon (1995)',
 'Bicentennial Man (1999)',
 'Bicycle Thieves (a.k.a. The Bicycle Thief) (a.k.a. The Bicycle Thieves) (Ladri di biciclette) (1948)',
 'Big (1988)',
 'Big Blue, The (Grand bleu, Le) (1988)',
 'Big Chill, The (1983)',
 'Big Daddy (1999)',
 'Big Easy, The (1987)',
 'Big Fish (2003)',
 'Big Hero 6 (2014)',
 'Big Hit, The (1998)',
 'Big Kahuna, The (2000)',
 'Big Lebowski, The (1998)',
 "Big Momma's House (2000)",
 'Big Night (1996)',
 'Big Short, The (2015)',
 'Big Sleep, The (1946)',
 'Big Trouble in Little China (1986)',
 "Bill & Ted's Bogus Journey (1991)",
 "Bill & Ted's Excellent Adventure (1989)",
 'Bill Cosby, Himself (1983)',
 'Billy Elliot (2000)',
 'Billy Madison (1995)',
 'Biloxi Blues (1988)',
 'Bio-Dome (1996)',
 'Bird on a Wire (1990)',
 'Birdcage, The (1996)',
 'Birdman: Or (The Unexpected Virtue of Ignorance) (2014)',
 'Birds, The (1963)',
 'Birdy (1984)',
 'Bitter Moon (1992)',
 'BlacKkKlansman (2018)',
 'Black Beauty (1994)',
 'Black Book (Zwartboek) (2006)',
 'Black Cat, White Cat (Crna macka, beli macor) (1998)',
 'Black Cauldron, The (1985)',
 'Black Dahlia, The (2006)',
 'Black Hawk Down (2001)',
 'Black Hole, The (1979)',
 'Black Knight (2001)',
 'Black Panther (2017)',
 'Black Rain (1989)',
 'Black Sheep (1996)',
 'Black Snake Moan (2006)',
 'Black Swan (2010)',
 'Blade (1998)',
 'Blade II (2002)',
 'Blade Runner (1982)',
 'Blade Runner 2049 (2017)',
 'Blade: Trinity (2004)',
 'Blades of Glory (2007)',
 'Blair Witch Project, The (1999)',
 'Blame It on Rio (1984)',
 'Blank Check (1994)',
 'Blast from the Past (1999)',
 'Blazing Saddles (1974)',
 'Blind Date (1987)',
 'Blind Side, The  (2009)',
 'Blind Swordsman: Zatoichi, The (Zatôichi) (2003)',
 'Blink (1994)',
 'Blob, The (1958)',
 'Blood Diamond (2006)',
 'Blood Simple (1984)',
 'Blood Work (2002)',
 'Bloodsport (1988)',
 'Blow (2001)',
 'Blow-Up (Blowup) (1966)',
 'Blown Away (1994)',
 'Blue Angel, The (Blaue Engel, Der) (1930)',
 'Blue Crush (2002)',
 "Blue Is the Warmest Color (La vie d'Adèle) (2013)",
 'Blue Jasmine (2013)',
 'Blue Lagoon, The (1980)',
 'Blue Streak (1999)',
 'Blue Valentine (2010)',
 'Blue Velvet (1986)',
 'Blue in the Face (1995)',
 'Blues Brothers 2000 (1998)',
 'Blues Brothers, The (1980)',
 'Bob Roberts (1992)',
 'Body Heat (1981)',
 'Body Snatchers (1993)',
 'Body of Lies (2008)',
 'Bodyguard, The (1992)',
 'Bohemian Rhapsody (2018)',
 'Boiler Room (2000)',
 'Bolt (2008)',
 'Bone Collector, The (1999)',
 'Bonfire of the Vanities (1990)',
 'Bonnie and Clyde (1967)',
 'Boogie Nights (1997)',
 'Book Thief, The (2013)',
 'Book of Eli, The (2010)',
 'Book of Shadows: Blair Witch 2 (2000)',
 'Boomerang (1992)',
 'Boondock Saints, The (2000)',
 'Boot, Das (Boat, The) (1981)',
 'Booty Call (1997)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Born on the Fourth of July (1989)',
 'Borrowers, The (1997)',
 'Bottle Rocket (1996)',
 'Bounce (2000)',
 'Bound (1996)',
 'Bounty Hunter, The (2010)',
 'Bourne Identity, The (2002)',
 'Bourne Legacy, The (2012)',
 'Bourne Supremacy, The (2004)',
 'Bourne Ultimatum, The (2007)',
 'Bowfinger (1999)',
 'Bowling for Columbine (2002)',
 'Boxing Helena (1993)',
 'Boy Who Could Fly, The (1986)',
 'Boy in the Striped Pajamas, The (Boy in the Striped Pyjamas, The) (2008)',
 'Boyhood (2014)',
 "Boys Don't Cry (1999)",
 'Boys from Brazil, The (1978)',
 'Boys on the Side (1995)',
 'Boyz N the Hood (1991)',
 'Brady Bunch Movie, The (1995)',
 'Brassed Off (1996)',
 'Brave (2012)',
 'Brave Little Toaster, The (1987)',
 'Braveheart (1995)',
 'Brazil (1985)',
 'Breach (2007)',
 'Break-Up, The (2006)',
 'Breakdown (1997)',
 'Breaker Morant (1980)',
 'Breakfast Club, The (1985)',
 "Breakfast at Tiffany's (1961)",
 'Breaking Away (1979)',
 'Breaking the Waves (1996)',
 'Breathless (À bout de souffle) (1960)',
 "Brewster's Millions (1985)",
 'Brick (2005)',
 'Bride Wars (2009)',
 "Bride of Chucky (Child's Play 4) (1998)",
 'Bride of Frankenstein, The (Bride of Frankenstein) (1935)',
 'Bridesmaids (2011)',
 'Bridge Too Far, A (1977)',
 'Bridge of Spies (2015)',
 'Bridge on the River Kwai, The (1957)',
 'Bridge to Terabithia (2007)',
 'Bridges of Madison County, The (1995)',
 "Bridget Jones's Diary (2001)",
 'Bridget Jones: The Edge of Reason (2004)',
 'Brief Encounter (1946)',
 'Brighton Beach Memoirs (1986)',
 'Bring It On (2000)',
 'Bringing Down the House (2003)',
 'Bringing Out the Dead (1999)',
 'Bringing Up Baby (1938)',
 'Broadcast News (1987)',
 'Brokeback Mountain (2005)',
 'Brokedown Palace (1999)',
 'Broken Arrow (1996)',
 'Broken Flowers (2005)',
 'Bronson (2009)',
 'Bronx Tale, A (1993)',
 'Brooklyn (2015)',
 'Brother Bear (2003)',
 'Brotherhood of the Wolf (Pacte des loups, Le) (2001)',
 'Brothers Grimm, The (2005)',
 'Brothers McMullen, The (1995)',
 'Bruce Almighty (2003)',
 'Brüno (Bruno) (2009)',
 'Bubba Ho-tep (2002)',
 'Bucket List, The (2007)',
 'Buddy Holly Story, The (1978)',
 'Buena Vista Social Club (1999)',
 "Buffalo '66 (a.k.a. Buffalo 66) (1998)",
 'Buffy the Vampire Slayer (1992)',
 "Bug's Life, A (1998)",
 'Bull Durham (1988)',
 'Bulletproof (1996)',
 'Bulletproof Monk (2003)',
 'Bullets Over Broadway (1994)',
 'Bullitt (1968)',
 'Bulworth (1998)',
 'Buried (2010)',
 'Burn After Reading (2008)',
 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 "But I'm a Cheerleader (1999)",
 'Butch Cassidy and the Sundance Kid (1969)',
 'Butcher Boy, The (1997)',
 "Butcher's Wife, The (1991)",
 'Cabaret (1972)',
 'Cabin Boy (1994)',
 'Cabin Fever (2002)',
 'Cabin in the Woods, The (2012)',
 'Cabinet of Dr. Caligari, The (Cabinet des Dr. Caligari., Das) (1920)',
 'Cable Guy, The (1996)',
 'Caddyshack (1980)',
 'Caine Mutiny, The (1954)',
 'Calendar Girls (2003)',
 'Caligula (1979)',
 'Call Me by Your Name (2017)',
 'Campaign, The (2012)',
 "Can't Buy Me Love (1987)",
 "Can't Hardly Wait (1998)",
 'Canadian Bacon (1995)',
 'Candidate, The (1972)',
 'Candyman (1992)',
 'Candyman: Farewell to the Flesh (1995)',
 'Cannonball Run, The (1981)',
 'Cape Fear (1962)',
 'Cape Fear (1991)',
 'Capote (2005)',
 'Captain America: Civil War (2016)',
 'Captain America: The First Avenger (2011)',
 'Captain America: The Winter Soldier (2014)',
 "Captain Corelli's Mandolin (2001)",
 'Captain Fantastic (2016)',
 'Captain Marvel (2018)',
 'Captain Phillips (2013)',
 'Capturing the Friedmans (2003)',
 "Carlito's Way (1993)",
 'Carnage (2011)',
 'Carnal Knowledge (1971)',
 'Carrie (1976)',
 'Carrington (1995)',
 'Cars (2006)',
 'Cars 2 (2011)',
 'Casablanca (1942)',
 'Cashback (2006)',
 'Casino (1995)',
 'Casino Royale (2006)',
 'Casper (1995)',
 'Cast Away (2000)',
 'Castle, The (1997)',
 'Cat Ballou (1965)',
 'Cat People (1982)',
 'Cat Returns, The (Neko no ongaeshi) (2002)',
 'Cat from Outer Space, The (1978)',
 'Cat in the Hat, The (2003)',
 'Cat on a Hot Tin Roof (1958)',
 "Cat's Eye (1985)",
 'Catch Me If You Can (2002)',
 'Catch-22 (1970)',
 'Cats & Dogs (2001)',
 'Catwoman (2004)',
 'Celebration, The (Festen) (1998)',
 'Celebrity (1998)',
 'Cell, The (2000)',
 'Cellular (2004)',
 'Celluloid Closet, The (1995)',
 'Celtic Pride (1996)',
 'Cemetery Man (Dellamorte Dellamore) (1994)',
 'Center Stage (2000)',
 'Central Intelligence (2016)',
 'Central Station (Central do Brasil) (1998)',
 'Chain Reaction (1996)',
 'Chamber, The (1996)',
 'Changeling (2008)',
 'Changing Lanes (2002)',
 'Chappie (2015)',
 'Charade (1963)',
 'Chariots of Fire (1981)',
 'Charlie Bartlett (2007)',
 'Charlie Brown Christmas, A (1965)',
 "Charlie Wilson's War (2007)",
 'Charlie and the Chocolate Factory (2005)',
 "Charlie's Angels (2000)",
 "Charlie's Angels: Full Throttle (2003)",
 "Charlotte's Web (1973)",
 'Chasing Amy (1997)',
 'Cheaper by the Dozen (2003)',
 "Cheech and Chong's Up in Smoke (1978)",
 'Chef (2014)',
 'Chicago (2002)',
 'Chicken Little (2005)',
 'Chicken Run (2000)',
 "Child's Play (1988)",
 "Child's Play 2 (1990)",
 "Child's Play 3 (1991)",
 'Children of Men (2006)',
 'Children of Paradise (Les enfants du paradis) (1945)',
 'Children of a Lesser God (1986)',
 'Children of the Corn (1984)',
 'China Syndrome, The (1979)',
 'Chinatown (1974)',
 'Chitty Chitty Bang Bang (1968)',
 'Chocolat (1988)',
 'Chocolat (2000)',
 'Chorus, The (Choristes, Les) (2004)',
 'Christine (1983)',
 'Christmas Carol, A (1938)',
 'Christmas Story, A (1983)',
 "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)",
 'Chronicle (2012)',
 'Chronicles of Narnia: Prince Caspian, The (2008)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Chronicles of Narnia: The Voyage of the Dawn Treader, The (2010)',
 'Chronicles of Riddick, The (2004)',
 'Chungking Express (Chung Hing sam lam) (1994)',
 'Cider House Rules, The (1999)',
 'Cinderella (1950)',
 'Cinderella (2015)',
 'Cinderella Man (2005)',
 'Cinderella Story, A (2004)',
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)',
 'Circle of Friends (1995)',
 'Citizen Kane (1941)',
 'Citizen Ruth (1996)',
 'Citizenfour (2014)',
 'City Hall (1996)',
 'City Lights (1931)',
 'City Slickers (1991)',

In [24]:
name = str(input())

Batman v Superman: Dawn of Justice (2016)

In [25]:
a = movies_list.index(name)
print(a)

316

In [29]:
corr_a = corr_mat[a]
corr_a.shape

(3790,)

## Recommending a Highly Correlated Movie

In [38]:
b = pd.DataFrame(movies_names[(corr_a < 1.0) & (corr_a >0.95)][:10])
b

                                      title
0                     22 Jump Street (2014)
1             300: Rise of an Empire (2014)
2  A Million Ways to Die in the West (2014)
3    Abraham Lincoln: Vampire Hunter (2012)
4          Adventures of Tintin, The (2011)
5                        After Earth (2013)
6            Amazing Spider-Man, The (2012)
7                            Ant-Man (2015)
8               Ant-Man and the Wasp (2018)
9                      Atomic Blonde (2017)

In [52]:
def recommend(title):
    a = movies_list.index(title)
    corr_a = corr_mat[a]
    b = pd.DataFrame(movies_names[(corr_a < 1.0) & (corr_a >0.95)][:10])
    return b

In [57]:
recommend('Ant-Man (2015)')

                                       title
0             Amazing Spider-Man, The (2012)
1                Ant-Man and the Wasp (2018)
2                       Avengers, The (2012)
3             Avengers: Age of Ultron (2015)
4     Avengers: Infinity War - Part I (2018)
5    Avengers: Infinity War - Part II (2019)
6  Batman v Superman: Dawn of Justice (2016)
7                       Black Panther (2017)
8          Captain America: Civil War (2016)
9  Captain America: The First Avenger (2011)