# Data Preparation for Snack Recommendation

In [26]:
import pandas as pd

## Import MovieLens 100k data

In [83]:
ml = pd.read_csv('movieLens100k.csv')

In [84]:
ml.columns

Index(['Unnamed: 0', 'userID', 'movieID', 'rating', 'timestamp'], dtype='object')

In [85]:
ml = ml.drop('Unnamed: 0',axis=1)

In [86]:
ml.columns

Index(['userID', 'movieID', 'rating', 'timestamp'], dtype='object')

We are taking only 425 movieID's

In [87]:
food425 = ml[ml['movieID']<426]
food425.head()

   userID  movieID  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

Renameing 'movieID' column to 'itemID'

In [88]:
food425.rename(columns={'movieID':'itemID'},inplace=True)

C:\Users\rhnye\Anaconda3\envs\reco_base\lib\site-packages\pandas\core\frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [89]:
food425.head()

   userID  itemID  rating  timestamp
0     196     242       3  881250949
1     186     302       3  891717742
2      22     377       1  878887116
3     244      51       2  880606923
4     166     346       1  886397596

In [90]:
food425 = food425.drop('timestamp',axis=1)
food425.head()

   userID  itemID  rating
0     196     242       3
1     186     302       3
2      22     377       1
3     244      51       2
4     166     346       1

In [91]:
food425.isnull().sum()

userID    0
itemID    0
rating    0
dtype: int64

## Importing Food Products Data

In [92]:
fd = pd.read_csv('FinalFoodData.csv')

In [93]:
fd.head()

,itemID,name,category,calories,fat,protein,sugars
0,1,Bread Cinnamon,Baked Foods,253,5.29,7.05,14.11
1,2,Bread Egg,Baked Foods,287,6.00,9.50,1.78
2,3,Bread Egg Toasted,Baked Foods,315,6.60,10.50,1.94
3,4,Bread Stuffing Cornbread Dry Mix,Baked Foods,389,4.20,10.00,13.16
4,5,Bread Stuffing Cornbread Dry Mix Prepared,Baked Foods,179,8.80,2.90,0.00

In [94]:
fd['category'].value_counts()

Beans and Lentils          42
Fruits                     41
Dairy and Egg Products     41
Sweets                     34
Fish                       32
Fast Foods                 31
Beverages                  31
Breakfast Cereals          28
Snacks                     27
Cookies                    26
Coffee                     25
Pizza                      24
Baked Foods                23
Dairy and Egg Products     20
Name: category, dtype: int64

Merging user rating <b>'food425'</b> data with <b>'fd'</b> Food Data

In [95]:
food425 = pd.merge(food425, fd, on='itemID', how='inner')

In [96]:
food425.head()

,userID,itemID,rating,name,category,calories,fat,protein,sugars
0,196,242,3,Dominos 14 Inch Cheese Pizza Ultimate Deep Dis...,Fast Foods,265,9.83,10.76,4.22
1,63,242,3,Dominos 14 Inch Cheese Pizza Ultimate Deep Dis...,Fast Foods,265,9.83,10.76,4.22
2,226,242,5,Dominos 14 Inch Cheese Pizza Ultimate Deep Dis...,Fast Foods,265,9.83,10.76,4.22
3,154,242,3,Dominos 14 Inch Cheese Pizza Ultimate Deep Dis...,Fast Foods,265,9.83,10.76,4.22
4,306,242,5,Dominos 14 Inch Cheese Pizza Ultimate Deep Dis...,Fast Foods,265,9.83,10.76,4.22

In [97]:
food425.columns

Index(['userID', 'itemID', 'rating', 'name', 'category', 'calories', 'fat',
       'protein', 'sugars'],
      dtype='object')

Dropping columns

In [98]:
food425 = food425.drop(['name','calories', 'fat',
       'protein', 'sugars'],axis=1)

In [99]:
food425.head()

   userID  itemID  rating    category
0     196     242       3  Fast Foods
1      63     242       3  Fast Foods
2     226     242       5  Fast Foods
3     154     242       3  Fast Foods
4     306     242       5  Fast Foods

In [100]:
food425['category'].value_counts()

Dairy and Egg Products     8189
Fish                       5913
Fruits                     5776
Beans and Lentils          4959
Beverages                  4606
Fast Foods                 4308
Cookies                    4286
Baked Foods                4001
Breakfast Cereals          3973
Coffee                     3351
Sweets                     3314
Dairy and Egg Products     3046
Snacks                     1656
Pizza                      1496
Name: category, dtype: int64

<b>This Data will be used as a input for NCF and RBM Recommendation Algorithm</b>

In [101]:
food425.to_csv('InputFoodData.csv')